body{
    background:rgb(133, 78, 133);
}
#myName {
    float:left;
    padding:10px;
    margin-left:10%;
    font-family:Arial, Helvetica, sans-serif;
    clear:both;
    background:orangered;

}

.mainContent {
    clear:both;
    font-family: Arial, Helvetica, sans-serif;
    background-color:rgb(179, 156, 179);
    height:100%;
    padding: 10px;
    margin-right:10%;
    margin-left:10%;
    margin-bottom: 5%;
}
.mainimage{
    float: left;
 padding-right: 10px;
}
.pageHeader{
    font-family:'Catamaran', sans-serif;
    border-bottom:2px solid rgb(77, 63, 77);
}
.copyright{
    width:100%;
    height:4%;
    text-align: center;
    font-family:Helvetica, sans-serif;
    color: whitesmoke;
    background-color:black;
    margin-top: 40px;
    border-top: 2px solid black;

  
}